# Maize workflow configuration file
# Copy to config.toml and adjust the paths for your system
#[run_gold]
#scripts.run_gold.interpreter = "~/miniforge3/envs/ENV_NAME/bin/python"
#scripts.run_gold.location = "./scripts/run_gold.py"